.word-container {
    margin: 50px 0;
    display: grid;
    grid-auto-flow: column;
    text-transform: capitalize;
    gap: 1em;
}

.letter-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 28px;
    text-align: center;
    height: 35px
}

.underline {
    width: 1.5em;
    background-color: black;
    height: 3px;
}

.blue {
    color: rgb(102, 115, 220);
}

.red {
    color: rgb(255, 80, 80);
}